<html ng-app="todoApp">
    <body ng-controller="TodoController">
        <form ng-submit="addTodo()">
            <input
                type="text"
                name="Todo"
                placeholder="Add todo!"
                ng-model="todoText"
            />
        </form>

        <ul>
            <li ng-repeat="todo in todos">
                <label>
                    <input type="checkbox" ng-model="todo.isComplete" />
                    {{todo.text}}
                </label>
                <button ng-click="removeTodo(todo.id)">
                    Delete
                </button>
            </li>
        </ul>

        <react-directive></react-directive>
    </body>
</html>